# prettier doesn't know how to style it.
yarn.lock

# Like .gitignore
build
coverage
.eslintcache
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# macOS
.DS_Store